@model WebAppMedia.Models.Nota

@{
    ViewData["Title"] = "Detalhes";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Nota</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota01)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota01)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota02)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota02)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota03)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota03)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Media)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Media)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Turma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Turma.Curso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aluno.Matricula)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> 
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>
